*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.nav{
    display: flex;
}
.side-nav{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 90dvh;
    background: rgb(32,27,106);
    background: linear-gradient(90deg, rgba(32,27,106,1) 2%, rgba(141,14,209,1) 99%);
    color: white;
    cursor: pointer;
    /* background: url("./pexels-stephan-seeber-1261728.jpg"); */
    /* background-size: 330%;
    background-position: top;
    background-repeat: no-repeat; */
}
.bank-name{
    /* border: 1px solid blue; */
    height: 8dvh;
    padding-left: 15px;
    padding-top: 8px;
}
.nav-list{
    /* border: 1px solid green; */
    list-style:none;
    height: 85dvh;
    display:flex;
    flex-direction: column;
    overflow-y: auto;
}
.nav-items{
 /* border: 1px solid red; */
 padding: 24px;
 font-size: 1.5rem;
}
.top-nav{
    display: flex;
    border-bottom:1px solid black;
    width: 100%;
    height: 10dvh;
    /* flex-direction: row-reverse; */
    align-items: center;
    /* background: linear-gradient(90deg, rgba(32,27,106,1) 2%, rgba(141,14,209,1) 99%); */
}
.username{
    /* border: 1px solid black; */
    font-size: 1.5rem;
    padding: 12px;
    /* color: white; */
}

.profile-photo img{
    /* border: 1px solid palevioletred; */
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.left-nav{
    /* border: 1px solid black; */
    width: 50%;
    /* padding: 20px; */
    /* color: white; */
}
.left-nav h1{
    border-bottom: 4px solid black;
    width: 40%;
    height: 100%;
    padding: 20px;
    background: linear-gradient(90deg, rgba(32,27,106,1) 2%, rgba(141,14,209,1) 99%);
    color: white;
    /* background: url("./pexels-stephan-seeber-1261728.jpg"); */
    /* background-size: 250%; */
    /* background-position: top;
    background-repeat: no-repeat; */
}
.right-nav{
    /* border: 1px solid red; */
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    padding-right: 43px;
}
.main-window{
    display: flex;
}
#dashboard{
    /* border: 1px solid black; */
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: white;
    display: none;
}
.section-heading{
    /* border: 1px solid purple; */
    height: 10dvh;
    width: 100%;
    padding: 20px;
    font-size: 2rem;
    text-align: center;
}
.account-info-cards{
    /* border: 1px solid black; */
    display: flex;
    height: 30dvh;
    /* gap: 20px; */
    /* margin-left: 15px; */
    /* margin-right: 15px; */
    justify-content: space-around;
    align-items: center;
    
}
.account-card{
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    /* background: linear-gradient(90deg, rgba(32,27,106,1) 2%, rgba(141,14,209,1) 99%); */
    background-color: rgba(128, 128, 128, 0.092);
}
.account-card-heading{
    /* border: 1px solid brown; */
    padding-top: 20px;
    font-size: 25px;
    /* padding-left: 25px; */
    text-align: center;
    font-weight: 550;

}
.account-card-body{
    /* border: 1px solid rebeccapurple; */
    height: 100px;
    padding: 30px;
    /* padding-left: 30px; */
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}
.debited-amount{
    color: red;
}
.credited-amount{
    color: green;
}
.amount{
    /* border: 1px solid red; */
    /* display: flex; */
    display: inline;
}
.inner-amount{
    display: inline;
}
.account-card-footer{
    /* border: 1px solid yellowgreen; */
    height: 50px;
    padding-top: 10px;
    /* padding-left: 25px; */
    font-size: 20px;
    text-align: center;
   
}
.accounts-graphs{
    /* border: 1px solid blueviolet; */
    display: flex;
    margin-top: 30px;
    height: 40dvh;
    justify-content: space-around;
    
}
.graph-card{
    /* border: 1px solid black; */
    width: 42%;
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.092);
}
.graph-card-heading{
    /* border: 1px solid yellow; */
    padding-top: 10px;
    padding-left: 20px;
    font-size: 20px;
}
.graph-card-body{
    /* border: 1px solid orangered; */
    padding-top: 10px;
    padding-left: 20px;
    font-size: 20px;
}
.graph{
    border: 1px solid brown;
}
