#transaction-history{
    /* border:1px solid black; */
    width: 80%;
    display:none;
}
.transaction-heading{
    /* border: 1px solid black; */
    height: 10dvh;
    width: 100%;
    padding: 20px;
    font-size: 2rem;
    text-align: center;
}

.transaction-table-div{
    /* border:1px solid blue; */
    height:80%;
    width:88%;
    display: flex;
    flex-direction: column;
    margin:30px 40px 30px 65px;
    padding:20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.transaction-table-div h3{
    /* border:1px solid green; */
    margin-bottom: 20px;
}
.transaction-table th, td{
    border-bottom:1px solid green;
    padding: 15px;
    text-align: center;
}
tr:nth-child(odd) {background-color: #efecec51;}