.container {
    /* border:1px solid blue; */
    position: relative;
    background: #121321;
    height: 225px;
    width: 375px;
    z-index: 100;
    transition: 0.6s;
    transform-style: preserve-3d;
    color: #fff;
    /* margin: 60px 0px 60px 0px; */
    margin:60px 0 20px 0;
    border-radius: 23px;
  }
  .container:hover {
    transform: rotateY(180deg);
  }
  .container .debit-card {
    /* border:1px solid blue; */
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 25px;
    border-radius: 25px;
    backdrop-filter: blur(25px);
    background: #080808;
    background: conic-gradient(from 315deg, #080808, #706A6E);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backface-visibility: hidden;
  }
  .front-face header,
  .front-face .logo {
    display: flex;
    align-items: center;
  }
  .front-face header {
    justify-content: space-between;
  }
  .front-face .logo img {
    width: 48px;
    margin-right: 10px;
  }
  h5 {
    font-size: 16px;
    font-weight: 400;
  }
  .front-face .chip {
    width: 50px;
  }
  .front-face .card-details {
    display: flex;
    margin-top: 40px;
    align-items: flex-end;
    justify-content: space-between;
  }
  h6 {
    font-size: 10px;
    font-weight: 400;
  }
  h5.number {
    font-size: 18px;
    letter-spacing: 1px;
  }
  h5.name {
    margin-top: 20px;
  }
  .debit-card.back-face {
    border: none;
    padding: 15px 25px 25px 25px;
    transform: rotateY(180deg);
  }
  .debit-card.back-face h6 {
    font-size: 8px;
  }
  .debit-card.back-face .magnetic-strip {
    position: absolute;
    top: 40px;
    left: 0;
    height: 45px;
    width: 100%;
    background: #000;
  }
  .debit-card.back-face .signature {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 80px;
    height: 40px;
    width: 85%;
    border-radius: 6px;
    background: repeating-linear-gradient(
      #fff,
      #fff 3px,
      #efefef 0px,
      #efefef 9px
    );
  }
  .signature i {
    color: #000;
    font-size: 12px;
    padding: 4px 6px;
    border-radius: 4px;
    background-color: #fff;
    margin-right: -30px;
    z-index: -1;
  }
  .debit-card.back-face h5 {
    font-size: 8px;
    margin-top: 15px;
  }