#Profile{
    display: none;
    width: 80%;
    /* background-image: linear-gradient(to top, #dfe9f3 0%, white 100%); */
    /* border: 1px solid red; */
    /* display: flex; */
    }
.profile-index{
    /* border: 1px solid rgb(142,142,142); */
    width: 27%;
    height: 70%;
    border-radius: 10px;
    /* margin-top: 30px; */
    display: flex;
    flex-direction: column;
    /* display: none; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.main-content{
    /* border: 1px solid green; */
    display: flex;
    height: 80%;
    width: 95%;
    justify-content: space-around;
    align-items: center;
    margin-left: 30px;
}
.profile-mountain-photo{
    /* border-bottom: 1px solid black; */
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: center;
    border-top-left-radius:10px ;
    border-top-right-radius: 10px;
    background-color: #287bff;
    
}
.profile-profile-photo{
    /* border: 1px solid orange; */
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: white;
    /* position: absolute;
    left: 40%;
    top: 62%; */
    transform: translateY(50px);
    position: relative;
}
.profile-profile-photo form{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position:absolute;
    z-index: 2;
}
.profileImageLabel{
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius:50%;
    /* border: 5px solid red; */
    cursor: pointer;
}
#profileImage{
    display: none;
}
.profilePic{
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
    border-radius: 50%;
    /* transform: translateY(-120px); */
    cursor: pointer;
    position: absolute;
    z-index: 1;
}
.profile-heading{
    /* border: 1px solid pink; */
    margin-top:80px;
    font-size: 30px;
    text-align: center;
}
.gender{
    /* border: 1px solid orange; */
    height: 20px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}
.profile-subheading{
    /* border: 1px solid orange; */
    height: 20px;
    margin-top: 40px;
    text-align: center;
}
.balance-account-detail-index{
    /* margin-top: 30px; */
    /* border: 1px solid orange; */
    width: 27%;
    height: 70%;
    display: flex;
    flex-direction: column;
}
.balance-index{
    /* border: 1px solid black; */
    height: 30%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* padding-left:10px;
    padding-right: 10px; */
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.account-detail-index{
    /* border: 1px solid black; */
    margin-top: 20px;
    height: 65%;
    border-radius: 10px;
    padding-left:10px;
    padding-right: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.details-user{
    /* margin-top: 30px; */
    /* border: 1px solid green; */
    width: 27%;
    height: 70%;
    /* display: flex;
    flex-direction: row; */
    /* justify-content: center; */
    /* align-items: center; */
}
.login-details{
    /* margin-top: 20px; */
    /* border: 1px solid black; */
    height: 30%;
    border-radius: 10px;
    /* padding-left:10px;
    padding-right: 10px; */
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contact-details{
    /* border: 1px solid black; */
    margin-top: 20px;
    height: 30%;
    border-radius: 10px;
    /* padding-left:10px;
    padding-right: 10px; */
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.balance{
    /* border: 1px solid rebeccapurple; */
    width: 100%;
    /* margin-top: 10px; */
    font-size: 20px;
    color:#222;
   
}
.balance p{
    text-align: center;
}
.currency{
    color: green;
    font-weight: 500;
}
.balance-rupees{
    /* border: 1px solid red; */
    margin-top: 10px;
    font-size: 25px;
    color: green;
    text-align: center;
}
.total-balance{
    text-align: center;
}
.all-account-detail{
    /* border: 1px solid red; */
    margin-top: 20px;
    font-size: 20px;
}
.all-account-detail p{
    text-align: center;
}
.account-no{
    /* border: 1px solid orange; */
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.account-type{
    /* border: 1px solid orange; */
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
}
.adhar-number{
    /* border: 1px solid orange; */
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
}
.pan-number{
    /* border: 1px solid orange; */
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
}
.account-status{
    /* border: 1px solid orange; */
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
}
.login-details-index{
    /* border: 1px solid red; */
    /* margin-top: 15px; */
    font-size: 20px;
    color: #222;
}
.login-details-index p{
    text-align: center;
}
.username-index{
    /* border: 1px solid orange; */
    justify-content: space-between;
    margin-top: 15px;
    display: flex;
}
.password{
    /* border: 1px solid orange; */
    justify-content: space-between;
    margin-top: 7px;
    display: flex;
}
.mobile-no{
    /* border: 1px solid orange; */
    justify-content: space-between;
    margin-top: 15px;
    display: flex;
}
.email{
    /* border: 1px solid orange; */
    justify-content: space-between;
    margin-top: 7px;
    display: flex;
} 
.contact{
    /* margin-top: 15px; */
    font-size: 20px;
}
.contact p{
    text-align: center;
}
