#transfer{
    /* display: none; */
    width: 80%;
    display: none;
    align-items: center;
    gap: 95px;
   /* background-image: linear-gradient(to top, #dfe9f3 0%, white 100%); */
}

.mainDiv{
    /* border:1px solid green; */
    width:100%;
    height:88%; 
    display:flex;
    justify-content: center;
    align-items: center;
}
.transfer-box{
    background-color: white;
    /* border:1px solid black; */
    width: 70%;
    height:400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
    
    /* background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%); */
}

.transactionForm{
    /* border: 1px solid black; */
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap:50px; */
    margin-top: 60px;
}
.transfer-form-input{
    /* border:1px solid blue; */
    width:70%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.message{
    display: block;
    text-align: center;
    font-size: 1.2rem;
    color:#ff6f6a;
    margin-bottom: 15px;
    margin-top: 15px;
    /* border: 1px solid red; */
}

.transfer-form-input img{
    border:1px solid rgb(142,142,142);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: white;
    border-right: none;
    height:40px;
    padding:5px;
}

.transfer-form-input input{
    border:1px solid rgb(142,142,142);
    font-size: 1 rem;
    padding:5px;
    width:70%;
    height:40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.transferButton{
   width:30%;
   font-size: 1rem;
   border-radius: 5px;
   background-image: linear-gradient(to right, #5a5ab6, #5b51c5, #5a5ab6);
   color: white;
   padding: 10px;
   border:none;
   cursor: pointer;
}


