<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/forgetPass.css">
    <title>Forget Password</title>
</head>

<body>
    <section id="forget-page">
        <div class="main-box">
            <form method="post" action="">
                <h1>Forget Password ?</h1>
                <p class="info">Don't Worry, Reset your Password</p>
                <div class="forgetBox">
                    <div>
                    <p>Enter your E-mail: </p>
                    <!-- {{!-- <input type="text" class="OtpEmail" placeholder="Email" name="OtpEmail"> --}} -->
                    <input type="email" class="email" name="email" placeholder="Your Email">
                    <!-- {{!-- <button class="OtpSubmit" onclick="sendOtp(this);">Continue</button> --}} -->
                </div>
                    <input type="submit" class="email-button">
                </div>
            </form>
        </div>
    </section>
</body>

</html>