<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Otp</title>
</head>
<body>
    <form method="post" action="/otp">
        <h1>OTP Verification</h1>
                    <p>we will be sending OTP to your Mail</p>
                    <div class="OtpBox">
                        
                            <p>Please Enter your Mail</p>
                            <!-- {{!-- <input type="text" class="OtpEmail" placeholder="Email" name="OtpEmail"> --}} -->
                            <input type="text" class="OTP" name="otp">
                            <!-- {{!-- <button class="OtpSubmit" onclick="sendOtp(this);">Continue</button> --}} -->
                            <input type="submit" >
                    </div>
    </form>
</body>
</html>