<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/resetPass.css">
    <title>Reset Password</title>
</head>

<body>
    <section id="reset-page">
        <div class="main-box">
            <form method="post" action="" class="resetForm">
                <h1>Reset Password</h1>
                <p class="info">Reset Your Password To Coninue</p>
                <div class="resetBox">
                    <input type="password" class="password" name="password" placeholder="Enter New password">
                    <input type="password" class="password" name="password" placeholder="Confirm Password">
                    <button class="reset-button">Reset Password</button>
                </div>
            </form>
        </div>
    </section>
</body>

</html>