<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css link -->
    <link rel="stylesheet" href="./static/css/signup.css">
    <!-- title of the page -->
    <title>Sign up</title>
</head>

<body>
    <section id="SignupPage">
        <div class="signupBox">
            <h1>Sign In</h1>
            <% if(message){ %>
                <span class="message">
                    <%= message %>
                </span>
            <% } %>


            <form class="firstForm" method="POST" action="/signup">
                <div class="Fform">
                    <input type="text" name="firstName" placeholder="Name *" class="firstName" pattern="^[a-zA-Z\s]+$" title="Please enter a valid name" required>
                    <input type="text" name="dateOfBirth" placeholder="Birth Date *" onfocus="(this.type='date')"
                        onblur="(this.type='text')" class="dateOfBirth" title="Please select a valid Date" required>
                    <input type="text" name="phoneNumber" placeholder="Phone Number *" class="phoneNumber" pattern="^\+?\d[\d -]{8,12}\d" title="Please enter valid phone number" required>
                    <input type="text" name="email" placeholder="Email *" class="email" onblur="getEmail(this);" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Please enter valid email Address" required><br>
                    <input type="text" name="aadharNumber" placeholder="Aadhar Number *" class="aadharNumber" pattern="^[0-9]{12}$" required>
                    <input type="text" name="panNumber" placeholder="Pan Number *" class="Pan Number" pattern="[A-Z]{5}[0-9]{4}[A-Z]{1}" required><br>
                    <input type="text" name="password" placeholder="Password *" class="password" required>
                    <input type="text" name="confirmPassword" placeholder="Confirm Password *" class="confirmPassword" required>
                    
                </div>
                <!-- {{!-- <div class="Sform">
                    <label for="aadharNumber">Aadhar Card Image *</label>
                    <input type="file" name="aadharNumber" id="aadharNumber"><br>
                    <label for="panNumber">Pan Number card Image *</label>
                    <input type="file" name="panNumber" id="panNumber">
                </div> --}} -->
                <!-- {{!-- <div class="Tform">
                    <h1>OTP Verification</h1>
                    <p>we will be sending OTP to your Mail</p>
                    <div class="OtpBox">
                        <form >
                            <p>Please Enter your Mail</p>
                            <input type="text" class="OtpEmail" placeholder="Email" name="OtpEmail">
                            <input type="text" class="OTP">
                            <button class="OtpSubmit" onclick="sendOtp(this);">Continue</button>
                            <input type="submit" >
                        </form>
                    </div>

                </div> --}}
                 <button onclick="formSubimt" type="submit" class="formButton">Next</button>
            </form> -->
            <div class="formFotter">
                <p class="backTOLogin">Already have an account?<a href="./login">LogIn</a></p>
                <button onclick="formSubimt" type="submit" class="formButton">Next</button>
            </div>
            






            </form>

        </div>
    </section>

    <script src="./static/js/signup.js"></script>
</body>

</html>